* {
  font-family: "Roboto", sans-serif;
}

nav {
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.header {
  position: relative;
}

.subheader {
  top: 50px;
  position: absolute;
  width: 100%;
  min-height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}

.subheader_call {
  margin-top: 19px;
  text-align: right;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.subheader_phone {
  display: block;
  text-align: right;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

.subheader_btn {
  margin-top: 18px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  padding: 150px 0px 135px 0px;
  min-height: 800px;
  background: url(../img/head-bg.jpg) center center/cover no-repeat;
  text-align: center;
}

.promo_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
}

.promo_subheader {
  margin: 0;
  margin-top: 22px;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.promo_info {
  margin-top: 23px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0px auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reason {
  min-height: 900px;
  padding: 75px 0 63px 0;
}

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-top: 38px;
  color: #222222;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
}

.reason .container {
  margin-top: 40px;
}

.reason_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.reason_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 113px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 25px;
}

.reason_icon img {
  max-width: 100%;
}

.reason_body {
  width: 343px;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.reason_description {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reason_infotext {
  font-weight: 300;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  margin-top: 19px;
  text-align: center;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg_grid1.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  padding: 92px 0 35px 0;
  margin-bottom: 19px;
}

.mobile_item_1 {
  background: url("../img/bg-items/1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/bg-items/2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/bg-items/3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/bg-items/4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/bg-items/5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/bg-items/6.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 31px;
}

.mobile_item_plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover::after {
  background-color: #ff5656;
}

.mobile_item .row {
  margin-top: 32px;
}

.choice {
  padding-top: 57px;
  min-width: 520px;
  background: #070716 url("../img/bg_car2.jpg") center 500px/cover no-repeat;
  text-align: center;
  padding-bottom: 122px;
}

.choice_label {
  text-align: center;
  color: #000;
  background-color: #fff;
}

.choice_title {
  color: #ffffff;
  margin-top: 32px;
}

.choice_subtitle {
  color: #ffffff;
  margin-top: 19px;
}

.choice_image {
  margin-top: 50px;
}

.choice_image img {
  width: 100%;
}

.choice_text {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0 -10px;
}

.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../icons/list-blue.png) center center/cover no-repeat;
}

.require_dscr {
  padding-top: 15px;
  color: #1ca8c3;
}

.require .demand .require_title {
  color: #ff5656;
}

.require .demand li:before {
  background: url(../icons/list-red.png) center center/cover no-repeat;
}

.world {
  min-height: 717px;
  padding: 49px 0px;
  background: url(../img/bg-map.jpg) center center/cover no-repeat;
}

.world_label {
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.world_title {
  color: #fff;
  font-weight: 700;
}

.world_subtitle {
  color: #fff;
  font-weight: 400;
  line-height: 21px;
}

.world_search {
  margin-top: 480px;
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  border-bottom: 8px solid #070716;
  padding: 14px 23px 30px;
}

.footer_row {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_social {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_social a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #070716;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.footer_social a:hover {
  color: orange;
}

.footer_body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 auto;
  width: 392px;
}

.footer_line {
  margin: 0 auto;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_menu a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_submenu {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_submenu a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_language {
  margin-top: 19px;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.footer_apps {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 13px;
  }
  .menu_item {
    padding-right: 20px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reason {
    padding: 35px 0 25px;
  }
  .reason_icon {
    margin-right: 15px;
  }
  .mobile_item {
    width: 300px;
  }
  .require {
    padding: 30px 0 50px;
  }
  .require_dscr {
    padding-top: 0px;
  }
  .require_list {
    margin-top: 10px;
  }
  .choice {
    padding: 35px 0 70px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 34px;
  }
  .menu_link {
    font-size: 10px;
  }
  .menu_item {
    padding-right: 8px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    width: 200px;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .mobile_item {
    width: 330px;
  }
  .reason_item {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reason_icon {
    margin: 0;
  }
  .reason_body {
    padding: 15px 10px 0px;
  }
  .reason_description {
    text-align: center;
  }
  .reason_infotext {
    margin-top: 10px;
  }
  .footer_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 10px auto;
  }
  .footer_apps {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 40px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin-top: 10px;
    border: none;
    padding-right: 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .mobile_item {
    width: 330px;
  }
  .subheader_phone {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    height: 40px;
    width: 180px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .header {
    height: 30px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  .menu_link {
    display: block;
  }
  .subheader {
    min-height: 60px;
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    width: 130px;
  }
  .subheader_phone {
    font-size: 12px;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    margin-top: 7px;
    font-size: 10px;
  }
  .promo {
    min-height: 400px;
    padding: 113px 0 35px;
  }
  .promo_header {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
  }
  .promo_subheader {
    margin-top: 33px;
    font-size: 20px;
    line-height: 28px;
  }
  .promo_info {
    display: none;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    font-size: 16px;
    margin-top: 72px;
  }
  .label {
    margin-top: 0px;
  }
  .title {
    margin-top: 15px;
    font-size: 16px;
  }
  .reason {
    padding: 22px 0 27px;
  }
  .reason .container {
    margin-top: 0;
  }
  .reason_item {
    margin-top: 25px;
  }
  .reason_body {
    width: 100%;
    padding-top: 0px;
  }
  .reason_icon {
    width: 100px;
    height: 100px;
  }
  .reason_description {
    text-align: left;
    margin-top: 25px;
    font-size: 16px;
  }
  .reason_infotext {
    margin-top: 0;
    line-height: 21px;
    font-size: 15px;
  }
  .mobile {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .mobile .subtitle {
    margin-top: 11px;
    font-size: 14px;
  }
  .mobile .row {
    margin-top: 0;
  }
  .mobile_item {
    width: 290px;
    height: 254px;
    margin-top: 30px;
    padding: 81px 45px 22px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    text-transform: uppercase;
  }
  .choice {
    min-height: 390px;
    min-width: 300px;
    padding-top: 25px;
    padding-bottom: 33px;
  }
  .choice .title {
    display: none;
  }
  .choice .subtitle {
    display: none;
  }
  .choice_text {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  .require {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .require_block {
    margin-top: 22px;
  }
  .require_title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .require_list {
    padding-left: 30px;
    margin-top: 4px;
  }
  .require_list li {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
  }
  .require_list li::before {
    content: "";
    top: -3px;
  }
  .require_dscr {
    font-weight: 300;
    padding: 0px;
    font-size: 14px;
  }
  .world {
    min-height: 360px;
    padding: 25px 0 30px;
  }
  .world_label {
    color: #070716;
    font-size: 11px;
    font-weight: 400;
  }
  .world_title {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
  }
  .world_subtitle {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .world_search {
    margin-top: 216px;
    color: #1fbad6;
    font-size: 15px;
    font-weight: 400;
  }
  .footer {
    min-height: 245px;
  }
  .footer_line {
    width: 253px;
  }
  .footer_apps {
    min-width: 260px;
    height: 24px;
  }
  .footer_apps img {
    width: 100%;
  }
  .footer_body {
    width: 100%;
  }
  .footer_menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_menu__list {
    font-size: 14px;
    font-weight: 300;
    color: #070716;
    margin: 0 10px;
  }
  .footer_submenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_submenu__list {
    font-size: 11px;
    font-weight: 300;
    margin: 0 10px;
  }
}
